        <section class="bg-body-tertiary py-6" id="organizationers">
            <div class="container org-content"> 
                <div class="text-center mb-5"> 
                <h2 class="section-title fw-bold">{{widget.about.title}}</h2>
                <p>{{widget.about.description}}</p>
                </div>
                <div class="row g-4 text-center">
                    {% for a in widget.about.list %}<div class="col-md-4">
                        <div class="card card-partner h-100 bg-body-secodnary p-4 
                        partner-tile shadow rounded-5">
                            <div class="text-center "><i class="{{a.icon}} display-4 mb-3 text-{{a.color}} fa-2x" title="{{a.title}}"></i> </div>
                            <h3 class="card-title fw-bold">{{a.title}}</h3>
                            <p class="small opacity-85 mt-2 org-">{{a.text | md | safe}}</p>
                            <a href="{{a.button.url}}" class="small text-{{a.color}} text-decoration-none fw-bold mt-2 d-block">{{a.button.text}}</a>
                        </div>
                    </div>{% endfor %}
                </div>
            </div>
        </section>