        <section class="container py-6" id="web-statusers">
            <div class="row g-5">
                {% if show_web_status.show_archive %}
                <div class="col-lg-6">
                    <div class="mb-4 text-start">
                    <h3 class="section-title fw-bold">{{widget.web_active.title}}</h3>
                    <p>{{widget.web_active.description}} 
                         <a href="{{widget.web_active.button.url}}" class="btn float-end btn-{{widget.web_active.button.color}} 
                         rounded-5 btn-sm text-white">
                                {{widget.web_active.button.text}}
                            </a></p>
                    </div>
                    {% for a in widget.web_active.list %}<div class="card card-status-active bg-body-tertiary p-3 mb-3 
                    border border-{{a.button.color}}">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-file-earmark-lock-fill display-6 me-4 text-accent-custom flex-shrink-0"></i> 
                            <div class="flex-grow-1">
                                <h3 class="fw-bold mb-1">{{a.title}}</h3>
                                <p class="small mb-1 text-pro-secondary">{{a.text | md | safe}}</p>
                            </div>
                            <a href="{{a.button.url}}" class="btn btn-sm btn-{{a.button.color}} 
                            ms-3 rounded-5 flex-shrink-0">{{a.button.text}}</a>
                        </div>
                    </div>{% endfor %}
                </div>                
                <div class="col-lg-6">
                    <h3 class="section-title fw-bold mb-4 text-start">
                        {{widget.web_archive.title}}
                    </h3>
                    <div class="card card-archive-pro p-5 shadow-sm bg-body-secondary">
                        <div class="card-body p-0 text-center">
                            <i class="{{widget.web_archive.icon}} display-2 mb-3 text-{{widget.web_archive.button.color}}"></i>
                            <h4 class="card-title fw-bolder mb-3">{{widget.web_archive.description}}</h4>
                            <p class="card-text mb-4 text-pro-secondary">{{widget.web_archive.text | md |safe}}</p>
                            <a href="{{widget.web_archive.button.url}}" class="btn btn-{{widget.web_archive.button.color}} rounded-5 px-5 btn-lg text-white">
                                {{widget.web_archive.button.text}}
                            </a>
                        </div>
                    </div>
                </div>
                {% else %}                
                <div class="col-lg-8 mx-auto">
                    <div class="mb-4 text-start">
                    <h3 class="section-title fw-bold">{{widget.web_active.title}}</h3>
                    <p>{{widget.web_active.description}}
                        <a href="{{widget.web_active.button.url}}" class="btn float-end btn-{{widget.web_active.button.color}} 
                         rounded-5 btn-sm text-white">
                                {{widget.web_active.button.text}}
                            </a>
                    </p>
                    </div>
                    {% for a in widget.web_active.list %}<div class="card card-status-active bg-body-tertiary p-3 mb-3 
                    border border-{{a.button.color}}">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-file-earmark-lock-fill display-6 me-4 text-accent-custom flex-shrink-0"></i> 
                            <div class="flex-grow-1">
                                <h3 class="fw-bold mb-1">{{a.title}}</h3>
                                <p class="small mb-1 text-pro-secondary">{{a.text | md | safe}}</p>
                            </div>
                            <a href="{{a.button.url}}" class="btn btn-sm btn-{{a.button.color}} ms-3 rounded-5 flex-shrink-0">{{a.button.text}}</a>
                        </div>
                    </div>{% endfor %}
                </div>
                {% endif %}
            </div>
        </section>