{% if show_post_list %}{% include "partials/post_list.njk" %}{% endif %}
{% if show_podcast %}{% include "partials/podcast.njk" %}{% endif %}
{% if show_about %}{% include "partials/about.njk" %}{% endif %}
{% if show_web_status.show %}{% include "partials/web.njk" %}{% endif %}